@import "syntax-variables";

syntax--atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .syntax--gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .syntax--line-number.syntax--cursor-line {
      background-color: @syntax-gutter-background-color-selected;
      color: @syntax-gutter-text-color-selected;
    }

    .syntax--line-number.syntax--cursor-line-no-selection {
      color: @syntax-gutter-text-color-selected;
    }
  }

  .syntax--wrap-guide {
    color: @syntax-wrap-guide-color;
  }

  .syntax--indent-guide {
    color: @syntax-indent-guide-color;
  }

  .syntax--invisible-character {
    color: @syntax-invisible-character-color;
  }

  .syntax--search-results {
    .syntax--marker  {
      background-color: transparent;
      border: @syntax-result-marker-color;
    }

    .syntax--marker.syntax--current-result  {
      border: @syntax-result-marker-color-selected;
    }
  }

  .syntax--cursor {
    border-color: @syntax-cursor-color;
  }

  .syntax--selection  {
    background-color: @syntax-selection-color;
  }

  .syntax--line-number.syntax--cursor-line-no-selection,
  .syntax--line.syntax--cursor-line {
    background-color: #434443; /*#303030;*/
  }

}

.syntax--comment {
  color: #87AE86;
}

.syntax--meta.syntax--preprocessor.syntax--c {
  color: #ffcfaf;
}

.syntax--keyword.syntax--other.syntax--phpdoc {
  color: #568E4D;
}

.syntax--punctuation.syntax--definition.syntax--comment, .syntax--punctuation.syntax--whitespace.syntax--comment {
  color: #7f9f7f;
}

.syntax--keyword.syntax--other.syntax--directive {
  font-weight: bold;
  color: #DEDEDE;
}

.syntax--keyword.syntax--other.syntax--directive.syntax--line-number {
  text-decoration: underline;
}

.syntax--constant.syntax--character {
  color: #cc9393;
}

.syntax--string, .syntax--string.syntax--unquoted {
  color: #cc9393;
}

.syntax--string.syntax--unquoted.syntax--heredoc {
  color: #D6D6D6;
}

.syntax--constant.syntax--numeric {
  color: #8cd0d3;
}

.syntax--constant.syntax--language, .syntax--support.syntax--constant.syntax--core {
  font-weight: bold;
  /*color: #D6D6AE;*/
  color: #dca3a3;
}

.syntax--constant.syntax--character, .syntax--constant.syntax--other, .syntax--support.syntax--constant {
  /*color: #CC9495;*/
  color: #cc9393;
}

.syntax--keyword, .syntax--keyword.syntax--control, .syntax--meta.syntax--selector.syntax--css, .syntax--entity.syntax--other.syntax--attribute-name {
  /*color: #FED6AF;*/
  color: #f0dfaf;
}

.syntax--entity.syntax--name.syntax--module, .syntax--support.syntax--other.syntax--module {
  font-weight: bold;
  color: #ffcfaf;
}

.syntax--keyword.syntax--operator, .syntax--punctuation.syntax--definition.syntax--tag, .syntax--punctuation:not(.syntax--punctuation.syntax--definition.syntax--comment:not(.syntax--punctuation.syntax--definition)) {
  color: #f0efd0;
}

.syntax--source.syntax--ocaml .syntax--keyword.syntax--operator.syntax--symbol.syntax--infix.syntax--floating-point {
  text-decoration: underline;
}

.syntax--source.syntax--ocaml .syntax--keyword.syntax--operator.syntax--symbol.syntax--prefix.syntax--floating-point {
  text-decoration: underline;
}

.syntax--storage.syntax--type, .syntax--storage.syntax--modifier, .syntax--support.syntax--type {
  color: #c3bf9f;
}

.syntax--entity.syntax--name.syntax--class.syntax--variant {
  color: #4080A0;
}

.syntax--storage {
}

.syntax--entity.syntax--name.syntax--type, .syntax--entity.syntax--other {
  color: #D6D6D6;
}

.syntax--entity.syntax--other.syntax--inherited-class {
  color: #cfbfaf;
}

.syntax--storage.syntax--type.syntax--user-defined, .syntax--meta.syntax--property-list {
  color: #c3bf9f;
}

.syntax--entity.syntax--name.syntax--type, .syntax--entity.syntax--name.syntax--type.syntax--class, .syntax--entity.syntax--other.syntax--attribute-name.syntax--class.syntax--css, .syntax--support.syntax--class {
  /*color: #F4A020;*/
  /*font-weight: bold;*/
  color: #ffcfaf;
}

.syntax--variable.syntax--parameter {
}

.syntax--invalid {
  /*font-weight: bold;*/
  font-style: italic;
  text-decoration: underline;
  color: #FF5274;
}

.syntax--entity.syntax--other.syntax--syntax--attribute-name.syntax--html {
  font-weight: bold;
  color: #f0dfaf;

}

.syntax--entity.syntax--name.syntax--tag {
  color: #f0dfaf;
}

.syntax--punctuation.syntax--section.syntax--embedded.syntax--begin.syntax--php, .syntax--punctuation.syntax--section.syntax--embedded.syntax--end.syntax--php {
  color: #898989;
}

.syntax--variable, .syntax--variable.syntax--parameter, .syntax--variable.syntax--other {
  color: #efdcbc;
}

.syntax--support.syntax--function.syntax--construct {
  color: #FED6AF;
}

.syntax--punctuation.syntax--definition.syntax--variable {
  color: #D0D1A8;
}

.syntax--support.syntax--function, .syntax--meta.syntax--function-name, .syntax--entity.syntax--name.syntax--function {
  color: #efef8f;
}

.syntax--support.syntax--function {
    color: #efef8f;
}

.syntax--meta.syntax--brace {
  color: rgba(120, 206, 204, 0.5);
}

.syntax--punctuation.syntax--definition.syntax--string.syntax--begin, .syntax--punctuation.syntax--definition.syntax--string.syntax--end {
  color: rgba(214, 214, 214, 0.5);
}

.syntax--punctuation.syntax--definition.syntax--tag.syntax--begin.syntax--html, .syntax--punctuation.syntax--definition.syntax--tag.syntax--end.syntax--html, .syntax--meta.syntax--tag.syntax--structure.syntax--any.syntax--html {
  color: rgba(254, 213, 174, 0.58);
}

.syntax--entity.syntax--name.syntax--tag.syntax--yaml {
  color: #FED6AF;
}

.syntax--punctuation.syntax--definition.syntax--entry {
  color: #D6D6D6;
}

.syntax--keyword.syntax--other.syntax--DML.syntax--sql, .syntax--keyword.syntax--other.syntax--data-integrity.syntax--sql {
  font-weight: bold;
  color: #B7B7B7;
}

.syntax--source.syntax--sql, .syntax--constant.syntax--other.syntax--database-name.syntax--sql, .syntax--constant.syntax--other.syntax--table-name.syntax--sql, .syntax--keyword.syntax--operator.syntax--star {
  font-weight: bold;
  color: #95BFF3;
}

.syntax--source.syntax--diff {
  color: #FFFFFF;
  background-color: #393939;
}

.syntax--source.syntax--diff .syntax--meta.syntax--diff.syntax--comment, .syntax--source.syntax--diff .syntax--meta.syntax--toc-list.syntax--comment.syntax--diff {
  color: #FFFFFF;
  background-color: #9F9D15;
}

.syntax--meta.syntax--diff.syntax--header.syntax--from-file {
  font-weight: bold;
  color: #CA7172;
  background-color: #393939;
}

.syntax--meta.syntax--diff.syntax--header.syntax--to-file {
  font-weight: bold;
  color: #60B38A;
  background-color: #393939;
}

.syntax--meta.syntax--diff.syntax--range.syntax--unified {
  color: #8CD0D3;
  background-color: #393939;
}

.syntax--markup.syntax--inserted.syntax--diff {
  color: #60B38A;
  background-color: #393939;
}

.syntax--markup.syntax--deleted.syntax--diff {
  color: #CA7172;
  background-color: #393939;
}

.syntax--string.syntax--regexp {
  color: #C76F41;
}

.syntax--string.syntax--regexp.syntax--arbitrary-repitition {
  color: #9E6A5F;
}

.syntax--punctuation.syntax--definition.syntax--arbitrary-repitition {
  color: rgba(255, 255, 255, 0.37);
}

.syntax--string.syntax--regexp.syntax--character-class {
  color: #CB8E81;
}

.syntax--punctuation.syntax--definition.syntax--character-class {
  color: rgba(255, 255, 255, 0.37);
}

.syntax--markup.syntax--raw.syntax--inline.syntax--markdown {
  color: #FED6AF;
}

.syntax--markup.syntax--heading.syntax--markdown, .syntax--punctuation.syntax--definition.syntax--heading {
  font-weight: bold;
  color: #FFFFFF;
}

.syntax--markup.syntax--list {
  color: #DEDEDE;
}
